# YOUR PROJECT TITLE

> **Note the following:** 
> 1. This is *not* meant to be an example of an actual **data analysis project**, just an example of how to structure such a project.
> 1. Remember the general advice on structuring and commenting your code
> 1. The `dataproject.py` file includes a function which can be used multiple times in this notebook.

Imports and set magics:

In [61]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
plt.rcParams.update({"axes.grid":True,"grid.color":"black","grid.alpha":"0.25","grid.linestyle":"--"})
plt.rcParams.update({'font.size': 14})
plt.style.use('seaborn-whitegrid')

import ipywidgets as widgets
from matplotlib_venn import venn2

import pydst
dst = pydst.Dst(lang='en')  

# autoreload modules when code is run
%load_ext autoreload
%autoreload 2

# user written modules
import dataproject

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# Read and clean data

Import your data, either through an API or manually, and load it.

In [65]:
# Loading dataset and skipping the first row
lonmen = pd.read_excel('lonmen.xlsx', skiprows=2)

# Dropping 'Unnamed: 0' 'Unnamed: 1' 'Unnamed: 2' 'Unnamed: 3' 'Unnamed: 4'
drop_these = ['Unnamed: ' + str(num) for num in range(5)] 
lonmen.drop(drop_these, axis=1, inplace=True)
print(drop_these)

# Renaming variables
lonmen.rename(columns = {'Unnamed: 5':'age_intervals'}, inplace=True)

# Renaming the columns
col_dict = {}
for i in range(2013, 2021+1): # range goes from 2008 to but not including 2018
    col_dict[str(i)] = f'lon{i}' 
col_dict
lonmen.rename(columns = col_dict, inplace=True)

# Showing the cleaned dataset
lonmen

['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4']

,age_intervals,lon2013,lon2014,lon2015,lon2016,lon2017,lon2018,lon2019,lon2020,lon2021
0,Alder i alt,309.21,312.75,315.84,318.39,324.98,334.30,340.88,346.28,352.15
1,Under 20 år,116.27,119.26,122.70,122.71,124.81,127.10,128.59,131.26,139.71
2,20-24 år,179.52,182.77,186.73,189.26,194.14,200.92,202.93,205.53,209.94
3,25-29 år,238.14,241.58,244.36,248.56,254.57,263.53,269.17,273.53,279.24
4,30-34 år,284.70,286.74,288.26,291.61,298.79,307.44,314.42,320.42,327.12
5,35-39 år,318.20,320.50,323.47,326.31,333.20,342.00,347.92,352.83,358.49
6,40-44 år,337.04,341.27,346.18,349.73,356.58,366.24,372.72,377.34,383.26
7,45-49 år,343.65,347.78,352.39,357.63,367.18,377.95,386.38,392.18,398.22
8,50-54 år,336.81,341.22,347.06,353.69,362.64,374.81,385.04,390.88,398.58
9,55-59 år,327.33,332.27,336.70,342.28,350.00,361.74,371.40,379.90,388.47
10,60 år og derover,332.62,335.00,336.20,336.75,342.87,351.94,358.13,365.84,371.62

## Explore each data set

In order to be able to **explore the raw data**, you may provide **static** and **interactive plots** to show important developments

**Interactive plot** :

In [ ]:
def plot_func():
    # Function that operates on data set
    pass

widgets.interact(plot_func, 
    # Let the widget interact with data through plot_func()    
);

Explain what you see when moving elements of the interactive plot around.

# Merge data sets

Now you create combinations of your loaded data sets. Remember the illustration of a (inner) **merge**:

In [ ]:
plt.figure(figsize=(15,7))
v = venn2(subsets = (4, 4, 10), set_labels = ('Data X', 'Data Y'))
v.get_label_by_id('100').set_text('dropped')
v.get_label_by_id('010').set_text('dropped' )
v.get_label_by_id('110').set_text('included')
plt.show()

Here we are dropping elements from both data set X and data set Y. A left join would keep all observations in data X intact and subset only from Y. 

Make sure that your resulting data sets have the correct number of rows and columns. That is, be clear about which observations are thrown away. 

**Note:** Don't make Venn diagrams in your own data project. It is just for exposition.

# Analysis

To get a quick overview of the data, we show some **summary statistics** on a meaningful aggregation.

MAKE FURTHER ANALYSIS. EXPLAIN THE CODE BRIEFLY AND SUMMARIZE THE RESULTS.

# Conclusion

ADD CONCISE CONLUSION.